@use 'breakpoints' as *;
@use 'typography' as *;

/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Fonts */
  --font-inter: 'Inter', sans-serif;

  /* Colors */
  --highlight-darkest: #1688e8;
  --highlight-dark: #2897ff;
  --highlight-medium: #6fbaff;
  --highlight-light: #b3daff;
  --highlight-lightest: #eaf2ff;

  --neutral-light-darkest: #c5c6cc;
  --neutral-light-dark: #d4d6dd;
  --neutral-light-medium: #e8e9f1;
  --neutral-light-light: #f8f9fe;
  --neutral-light-lightest: #ffffff;

  --neutral-dark-darkest: #1f2024;
  --neutral-dark-dark: #2f3036;
  --neutral-dark-medium: #494a50;
  --neutral-dark-light: #71727a;
  --neutral-dark-lightest: #8f9098;

  --support-success-dark: #298267;
  --support-success-medium: #3ac0a0;
  --support-success-light: #e7f4e8;
  --support-warning-dark: #e86339;
  --support-warning-medium: #ffb37c;
  --support-warning-light: #fff4e4;
  --support-error-dark: #ed3241;
  --support-error-medium: #ff616d;
  --support-error-light: #ffe2e5;

  // Shadows
  --shadow-md: 0px 4px 8px -2px rgba(17, 24, 39, 0.1),
    0px 2px 4px -2px rgba(17, 24, 39, 0.06);
  --shadow-base: 0 1px 6px rgba(0, 0, 0, 0.08);

  /* Border radiuses */
  --radius-2xl: 100px;
  --radius-xl: 70px;
  --radius-lg: 40px;
  --radius-base: 16px;
  --radius-sm: 12px;
  --radius-xs: 8px;

  /* Gaps */
  // --gap-13xl: 32px;
  // --gap-5xl: 24px;
  // --gap-xs: 12px;
  // --gap-base: 16px;
  // --gap-5xs: 8px;
  // --gap-21xl: 40px;
  // --gap-45xl: 64px;
  // --gap-3xs-7: 9.7px;
  // --gap-8xs: 5px;
  // --gap-11xl: 30px;
  // --gap-11xs: 2px;

  /* Paddings */
  // --padding-77xl: 96px;
  // --padding-93xl: 112px;
  // --padding-92xl: 15%;
  // --padding-45xl: 64px;
  // --padding-13xl: 32px;
  // --padding-base: 16px;
  // --padding-8xs: 5px;
  // --padding-3xs: 10px;
  // --padding-5xl: 24px;
  // --padding-9xs: 4px;
  // --padding-5xs: 8px;
}

body {
  @include text-base;
  width: 100%;
  font-family: var(--font-inter);
  background-color: var(--neutral-dark-dark);
  color: var(--neutral-light-dark);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
}

button,
input,
select {
  border: none;
  font-family: inherit;
  font-size: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--neutral-dark-darkest);
}

h1 {
  @include heading1;
}

h2 {
  @include heading2;
}

h3 {
  @include heading3;
}

h4 {
  @include heading4;
}

h5 {
  @include heading5;
}

.container {
  padding: 0 16px;
  max-width: 1216px;
  margin: auto auto;

  @include breakpoint('tablet') {
    padding: 0 40px;
  }

  @include breakpoint('upper-desktop') {
    padding: 0;
  }
}

.button {
  padding: 18px 24px;
  border-radius: var(--radius-sm);
  font-size: 16px;
  font-weight: 600;

  &--primary {
    background-color: var(--highlight-darkest);
    color: var(--neutral-light-lightest);
  }
}
